// 文字对齐
$--align: left, center, right, justify !default;
@each $str in $--align {
  .align-#{$str} {
    text-align: $str;
  }
}

// 内外边距 使用：m-t-5px 或 p-t-5px
$--margin: (
  top: 5 10 15 20,
  right: 5 10 15 20,
  bottom: 5 10 15 20,
  left: 5 10 15 20
) !default;
$--marginDirection: margin, padding;
@each $direction, $value in $--margin {
  @each $num in $value {
    @each $d in $--marginDirection {
      .#{str-slice($d, 1, 1)}-#{str-slice($direction, 1, 1)}-#{$num}px {
        #{$d}-#{$direction}: #{$num}px;
      }
    }
  }
}

// display
$--display: inline-block, block, flex !default;
@each $item in $--display {
  .#{$item} {
    display: $item;
  }
}

.flex-1 {
  flex: 1 1 auto;
}

// flex justify-content 使用：.f-justify-content--center
$--flex-justify-content: flex-start, center, flex-end, space-between, space-around !default;
@each $item in $--flex-justify-content {
  .f-justify-content--#{$item} {
    justify-content: $item;
  }
}

// flex align-items 使用：.f-align-items--center
$--flex-align-items: flex-start, center, flex-end, baseline, stretch !default;
@each $item in $--flex-align-items {
  .f-align-items--#{$item} {
    align-items: $item;
  }
}

.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

.block {
  display: block;
}

.c-pointer {
  cursor: pointer;
}

// 浮动
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
