.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

.block {
  display: block;
}

.c-pointer {
  cursor: pointer;
}

// 浮动
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
